<template>
  <form class="form" @submit.prevent="submitForm">
    <textarea
        class="form__area"
        :rows="textareaRowsCount"
        placeholder="Enter your message..."
        v-model="messageText"
    ></textarea>
    <label class="form__submit">
      <button
          class="form__submit-btn"
          type="submit"
          @submit.prevent="submitForm"
      >
        <img
            class="form__submit-image"
            src="../assets/images/send.svg"
            alt="send message"
        >
      </button>
    </label>
  </form>
</template>

<script>
import gql from 'graphql-tag'
import { getUserNameFromLocalStorage, getTokenFromLocalStorage } from '../assets/js/localStorageHandler'

export default {
  name: 'AppChatForm',
  data() {
    return {
      messageText: '',
      textareaRowsCount: 1
    }
  },
  computed: {
    login() {
      return getUserNameFromLocalStorage()
    },
    token() {
      return getTokenFromLocalStorage()
    }
  },
  watch: {
    messageText(val) {
      const currentRowsCount = val.split('\n').length
      if (currentRowsCount < 4) {
        this.textareaRowsCount = currentRowsCount
      }
    }
  },
  methods: {
    clearTextarea() {
      this.messageText = ''
    },
    submitForm() {
      if (this.messageText) {
        this.addMessage()
        this.clearTextarea()
      }
    },
    async addMessage() {
      await this.$apollo.mutate({
        mutation: gql`mutation addMessage($data: MessageInputGraphQL!) {
            addMessage(data: $data) {
            id
            createdAt
            text
          }
        }`,
        variables: {
          data: {
            text: this.messageText
          }
        },
        context: {
          headers: {
            Authorization: this.token
          }
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

  .form {
    @include grid(1fr max-content, max-content);
    grid-gap: 10px;
    box-sizing: border-box;
    padding: 2vh 2.5vw;
    @include section-gradient;
    box-shadow: $box-shadow-basic;

    &__area {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid transparent;
      background-color: #fff;
      color: $color-black;
      font-size: 13px;
      resize: none;
      transition: .2s;
      box-shadow: $box-shadow-basic;

      &::placeholder {
        font-family: sans-serif;
        color: $color-grey;
        font-size: 13px;
      }

      &:focus {
        outline: none;
      }
    }

    &__submit {
      @include flex(center, center);
      width: 100%;
      height: 100%;
    }

    &__submit-btn {
      @include flex();
      box-sizing: border-box;
      padding: 5px;
      border: none;
      border-radius: 50%;
      background-color: #fff;
    }

    &__submit-image {
      width: 25px;
      height: 25px;
      transform-origin: center;
      transform: translateX(-2px) rotate(20deg);
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 1024px) {
    .form {
      padding-left: 5vw;
      padding-right: 5vw;

      &__area {
        font-size: 14px;
      }
    }
  }

  @media only screen and (min-width: 1025px) {
    .form {
      padding-left: 20vw;
      padding-right: 20vw;
      grid-gap: 40px;

      &__area {
        margin: 0;
        font-size: 14px;
        caret-color: $color-blue;

        &::placeholder {
          font-size: 14px;
        }

        &::-webkit-scrollbar {
          width: 0;
        }
      }

      &__submit-btn {
        border: 1px solid transparent;
        transition: .1s;
        cursor: pointer;

        &:hover {
          border-color: $color-grey;
        }
      }
    }
  }
</style>