<template>
  <header class="header">
    <h1 class="header__title">Chat</h1>
    <router-link class="header__link" to="/auth" @click="signOut">Sign Out</router-link>
  </header>
</template>

<script>
import { clearLocalStorage } from '../assets/js/localStorageHandler'

export default {
  name: 'AppHeader',
  methods: {
    signOut() {
      clearLocalStorage()
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.header {
  @include flex(space-between, center, row);
  box-sizing: border-box;
  padding: 20px 5vw;
  @include section-gradient;
  box-shadow: $box-shadow-basic;

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  &__link {
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: .1s;

    &:focus{
      color: $color-black;
      border-bottom-color: $color-black;
    }
  }
}


@media only screen and (min-width: 1025px) {
  .header {

    &__link:hover {
      color: $color-black;
      border-bottom-color: $color-black;
    }
  }
}


</style>