<template>
  <section class="messages" ref="messages">
    <ul class="messages__list">
      <li
          class="messages__item"
          v-for="message in messageList"
          :key="message.id"
          :class="{ messages__item_right: message.userId.userName === userName }"
      >
        <h4 class="messages__title">{{ message.userId.userName }}</h4>
        <p class="messages__text">{{ message.text }}</p>
        <span class="messages__date">{{ message.createdAt }}</span>
      </li>
    </ul>
  </section>
</template>

<script>
import gql from 'graphql-tag'
import { getUserNameFromLocalStorage } from '../assets/js/localStorageHandler'

export default {
  name: 'AppMessagesList',
  data() {
    return {
      newMessageId: null,
      messageList: []
    }
  },
  computed: {
    userName() {
      return getUserNameFromLocalStorage()
    }
  },
  watch: {
    newMessageId(id) {
      this.getNewMessage(id).then(res => {
        this.messageList.push(res.data.getMessageById)
      })
    }
  },
  methods: {
    scrollToBottom() {
      this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight
    },
    async getMessages() {
      const res = await this.$apollo.query({
        query: gql`query getMessageList {
                    getMessageList {
                    id
                    createdAt
                    text
                    userId {
                      id
                      userName
                    }
                  }
                 }`
      })

      this.messageList = res.data.getMessageList
    },
    async getNewMessage(id) {
      return await this.$apollo.query({
        query: gql`query GetMessageById($messageId: Float!) {
                      getMessageById(messageId: $messageId) {
                        id
                        createdAt
                        text
                        userId {
                          id
                          userName
                        }
                      }
                    }`,
        variables: {
          messageId: id
        }
      })
    }
  },
  mounted() {
    this.getMessages()
    this.scrollToBottom()

    const subQuery = gql`subscription Subscription {
      messageUpdate {
        id
        createdAt
        text
        }
      }`

    const observer = this.$apollo.subscribe({
      query: subQuery
    })

    observer.subscribe(res => {
      this.newMessageId = res.data.messageUpdate.id
    })
  },
  updated() {
    this.scrollToBottom()
  }
}
</script>

<style scoped lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.messages {
  box-sizing: border-box;
  padding: 15px 2.5vw;
  overflow-y: scroll;
  overflow-x: hidden;

  &__list {
    @include flex(flex-end, flex-start, column);
    gap: 10px;
  }

  &__item {
    @include flex(flex-start, flex-start, column);
    gap: 5px;
    min-width: 50%;
    max-width: 90%;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: $color-lightblue;
    border-radius: 15px;
    box-shadow: $box-shadow-basic;

    &_right {
      align-self: flex-end;
      background-color: $color-lightgreen;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    color: $color-darkgrey;
  }

  &__date {
    align-self: flex-end;
    font-size: 12px;
    color: $color-grey;
  }
}

.messages::-webkit-scrollbar {
  width: 0;
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
  .messages {
    box-sizing: border-box;
    padding: 20px 5vw;

    &__item {
      min-width: 20vw;
    }

    &__title {
      padding: 2px 0;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .messages {
    padding: 20px 20vw;

    &__item {
      min-width: 20%;
      max-width: 60%;
      padding: 15px;
    }
  }
}
</style>