<template>
  <section class="container">
    <form class="form" @submit.prevent="submitForm">
      <h1 class="form__title">{{ authTypeStr }}</h1>
      <label
          class="form__label"
          v-for="(item, index) in formData"
          :class="{'form__label_hidden': isInputHidden(item.name)}"
          :key="index"
      >
        <span class="form__input-error" v-show="item.isError">
          Enter from 4 to 35 signs
        </span>
        <input
            class="form__input"
            :type="item.type"
            :placeholder="item.placeholder"
            maxlength="35"
            v-model="item.value"
        >
      </label>
      <button
          class="form__submit"
          type="submit"
          @submit.prevent="submitForm"
      >
        {{ authTypeStr }}
      </button>
      <p class="form__text">Don't have an account?
        <button
            type="button"
            class="form__link"
            @click="toggleFormType"
        >
          {{ !isSignIn ? 'Sign In' : 'Sign Up' }}
        </button>
      </p>
      <p
          class="form__error"
          :class="{form__error_active: showError}"
      >{{ errorText }}</p>
    </form>
  </section>
</template>

<script>
import { INPUT_REGEX } from '../assets/js/constants'
import gql from 'graphql-tag'
import { updateUserInfoToLocalStorage } from '../assets/js/localStorageHandler'

export default {
  name: 'AppAuthPage',
  data() {
    return {
      isSignIn: true,
      formData: [
        {
          type: 'text',
          name: 'userName',
          placeholder: 'name',
          value: '',
          isError: false,
        },
        {
          type: 'text',
          name: 'email',
          placeholder: 'email',
          value: '',
          isError: false,
        },
        {
          type: 'password',
          name: 'password',
          placeholder: 'password',
          value: '',
          isError: false,
        }
      ],
      errorText: ''
    }
  },
  computed: {
    authTypeStr() {
      return this.isSignIn ? 'Sign In' : 'Sign Up'
    },
    isFormValid() {
      const errorsCount = this.formData.reduce((accum, item) => {
        return accum += item.isError
      }, 0)

      return (this.isSignIn) ? errorsCount === 1 : errorsCount === 0
    },
    showError() {
      return this.errorText.trim().length !== 0
    },
    registerRequestData() {
      return this.formData.reduce((accum, item) => {
        return {
          ...accum,
          [item.name]: item.value
        }
      }, {})
    },
    loginRequestData() {
      const {email, password} = this.registerRequestData
      return {email, password}
    }
  },
  methods: {
    isInputHidden(name) {
      const invisibleInputNames = ['userName']
      return invisibleInputNames.includes(name) && this.isSignIn
    },
    toggleFormType() {
      this.clearError()
      this.isSignIn = !this.isSignIn
    },
    validateFormData() {
      this.formData.forEach(item => {
        item.isError = !item.value.match(INPUT_REGEX)
      })
    },
    submitForm() {
      this.validateFormData()

      if (this.isFormValid) {
        if (this.isSignIn) {
          this.loginUser()
        } else {
          this.registerUser()
        }
      }
    },
    async loginUser() {
      try {
        const result = await this.$apollo.mutate({
          mutation: gql`mutation UserLogin($data: UserLoginInputGraphQL!) {
                        userLogin(data: $data) {
                          token
                          user {
                            id
                            email
                            userName
                            password
                          }
                        }
                       }`,
          variables: {
            data: this.loginRequestData
          }
        })

        updateUserInfoToLocalStorage({
          login: result.data.userLogin.user.userName,
          password: result.data.userLogin.user.password,
          userId: result.data.userLogin.user.id,
          email: result.data.userLogin.user.email,
          token: result.data.userLogin.token
        })

        await this.$router.push({name: 'Chat'})
      } catch(error) {
        this.errorText = error.message
      }
    },
    async registerUser() {
      try {
        const result = await this.$apollo.mutate({
          mutation: gql`mutation ($data: UserRegisterInputGraphQL!) {
            userRegister(data: $data) {
              token
              user {
                id
                userName
                email
                password
              }
            }
          }`,
          variables: {
            data: this.registerRequestData
          }
        })

        updateUserInfoToLocalStorage({
          login: result.data.userRegister.user.userName,
          password: result.data.userRegister.user.password,
          userId: result.data.userRegister.user.id,
          email: result.data.userRegister.user.email,
          token: result.data.userRegister.token
        })

        await this.$router.push({name: 'Chat'})
      } catch(error) {
        this.errorText = error.message
      }
    },
    clearError() {
      this.errorText = ''
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/scss/style";

.form {
  width: 100%;
  min-height: 100vh;
  @include flex(flex-start, center, column);
  gap: 35px;
  box-sizing: border-box;
  padding: 0 10vw;
  margin-top: 15vh;

  &__title {
    font-size: 36px;
  }

  &__label {
    position: relative;
    width: 100%;

    &_hidden {
      display: none;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color-grey;
    color: $color-black;
    font-size: 16px;
    transition: .1s;

    &::placeholder {
      font-family: sans-serif;
      text-transform: capitalize;
      font-size: 16px;
    }

    &:focus {
      border-bottom: 1px solid $color-blue;
    }
  }

  &__input-error {
    position: absolute;
    bottom: -14px;
    font-size: 10px;
    color: $color-pink;
  }

  &__error {
    @include grid(200px, 1fr);
    font-size: 16px;
    color: transparent;
    transition: .2s;
    word-wrap: break-word;
    text-align: center;

    &_active {
      color: $color-pink;
    }
  }

  &__submit {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    border: 0;
    border-radius: 5px;
    @include section-gradient;
    font-size: 16px;
    color: #fff;
    box-shadow: $box-shadow-basic;
    transition: .1s;

    &:focus{
      color: $color-black;
    }
  }

  &__text {
    @include flex();
    flex-wrap: wrap;
    gap: 7px;
    text-align: center;
    font-size: 16px;
  }

  &__link {
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    transition: .1s;

    &:focus{
      color: $color-blue;
    }
  }
}


@media only screen and (min-width: 426px) {
  .container {
    min-height: 100vh;
    @include flex();
    box-sizing: border-box;
    @include background-gradient;
  }
  .form {
    width: initial;
    min-width: 300px;
    min-height: initial;
    background: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 30px 40px 15px;
    margin: 0;

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 14px;
    }

    &__input-error {
      bottom: -20px;
      font-size: 12px;
    }

    &__error {
      transform: translateY(-15px);
    }
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    padding: 50px 2.5vw;
  }
  .form {
    min-width: 400px;
    min-height: 470px;
    padding: 50px 60px 25px;

    &__title {
      font-size: 38px;
    }

    &__input {
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }

    &__submit {
      font-size: 18px;

      &:hover {
        color: $color-black;
      }
    }

    &__text {
      @include flex();
      flex-wrap: wrap;
      gap: 7px;
    }

    &__link:hover {
      color: $color-blue;
    }
  }

}
</style>