<template>
  <div class="container">
    <app-header class="header" />
    <app-messages-list />
    <app-chat-form class="form" />
  </div>
</template>

<script>
import AppMessagesList from '../components/AppMessagesList'
import AppHeader from '../components/AppHeader'
import AppChatForm from '../components/AppChatForm'

export default {
  components: {
    AppChatForm,
    AppHeader,
    AppMessagesList
  }
}
</script>

<style scoped lang="scss">
@import "../assets/scss/style";
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.container {
  position: relative;
  @include grid(1fr, max-content 1fr max-content);
  height: 100vh;
}

.header {
  position: sticky;
  top: 0;
}

.form {
  position: sticky;
  bottom: 0;
}
</style>