body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
figure,
figcaption,
button,
picture,
ul,
li,
textarea,
p {
  margin: 0;
  padding: 0;
}
a,
button,
input,
select {
  outline: none;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}