@mixin flex($jc: center, $ai: center, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin grid($cols, $rows, $gap:0) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  gap: $gap;
}

@mixin background-gradient {
  background: rgb(73,230,123);
  background: linear-gradient(to bottom right, rgba(73,230,123,1) 0%, rgba(23,177,185,1) 68%);
}
@mixin section-gradient {
  background: rgb(73,230,123);
  background: linear-gradient(90deg, rgba(73,230,123,1) 0%, rgba(23,177,185,1) 81%);
}


