$color-green: #49E67B;
$color-lightgreen: rgba(73, 230, 123, 0.37);
$color-blue: #17B1B9;
$color-lightblue: rgba(19, 191, 203, 0.37);
$color-pink: #d70b67;
$color-black: #0E0E0EFF;
$color-grey: #7C7C7C;
$color-darkgrey: #0A0A0A;
$box-shadow-basic: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0, rgb(0 0 0 / 12%) 0 1px 10px 0;
